@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@1,700&display=swap');
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
$alt-color: $blue;
$body-bg-color: $gray-200;
$font-color: $light;

body html {
  background-color: $body-bg-color;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

#animation-evee {
  margin: auto;
  max-width: 45%;
  max-height: 45%;
}

#evee {
  margin: auto;
}

#animation-chansey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

#animation-growlith {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chansey {
  margin-bottom: 0.3rem;
  max-width: 50%;
  max-height: 50%;
}

#growlith {
  max-width: 45%;
  max-height: 45%;
  padding-bottom: 1rem;
}

.options-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 0.05rem;
  font-size: 9px;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.options-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 0.05rem;
  font-size: 9px;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

#sign-out-button {
  display: flex;
  flex-flow: row-reverse;
  // padding-top: 0.75rem;
}

#start-button {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.start-screen-message {
  font-family: 'Press Start 2P', cursive;
  font-style: italic;
  display: flex;
  text-align: center;
  margin-top: 45%;
  animation: blinker 2s linear infinite;
  font-size: 4vw;
}

#sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
}

#create-account {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
  margin-top: 1rem;
}

#sign-up-error-message,
#user-message {
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: goldenrod;
}

#sign-up-success-message {
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: green;
}

.sign-in-title {
  margin-top: 4rem;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  font-size: 5vw;
}

#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vw;
}

#sign-up-prompt {
  font-family: 'Press Start 2P', cursive;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  text-align: center;
  font-size: 3vw;
}

#change-password-header,
#sign-in-header,
#sign-up-header {
  font-size: 4.5vw;
}

.poke-board {
  height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.gameBoard {
  margin: auto;
  // height: 100vh;
}

.box {
  align-items: center;
  border: 5px solid $black;
  color: $black;
  font-size: 70px;
  display: flex;
  height: 150px;
  // max-width: 100%;
  // max-height: 100%;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}

#game-board-title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 8vw;
  font-style: oblique;
  margin-top: 20px;
  margin-bottom: 20px;
}

#get-all-games,
#new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

#exit-account-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  margin-top: 5px;
}

#exit-game-record {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  margin-top: 1rem;
}


#exit-game-record {
  padding-top: 0.75rem;
}

#player-message {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 12px;
  font-style: italic;
}

.games-display {
  font-family: 'Press Start 2P', cursive;
  margin-left: 1%;
  font-size: 11px;

}

#change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}
@media (min-width:550px) {
  #animation-evee #evee {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33%;
    max-height: 33%;
  }
}

@media (min-width:550px) {
  #sign-in-header {
    font-size: 2vw;
  }
}

@media (min-width:500px) {
  .start-screen-message {
    font-size: 2vw;
    margin-top: 35%;
    justify-content: center;
  }
}

@media (min-width:800px) {
  .start-screen-message {
    font-size: 2vw;
    margin-top: 15%;
    justify-content: center;
  }
}

@media (min-width:500px) {
  .sign-in-title {
    font-size: 4vw;
    margin-top: .5rem;
    margin-bottom: 0rem;
    align-items: center;

  }
}
